@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme {
  --font-cormorant: "Cormorant", serif;
  --font-lora: "Lora", serif;
}